<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <h1>FAKE LOGO DETECTION SYSTEM</h1>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">      
</head>
<body>
  <title>Document</title>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <p>UPLOAD THE LOGO IMAGE HERE</p>
      {% csrf_token %}
      <input type="file" name="upload" accept="image/*">
      <br>
      <input type="submit"><br>
  
    </form>
  
    <div class="drops">
      <div class="drop drop-1"></div>
      <div class="drop drop-2"></div>
      <div class="drop drop-3"></div>
      <div class="drop drop-4"></div>
      <div class="drop drop-5"></div>
    </div>
  </div>
</body>
</html>